/* Header Navigation */

body {
  font-family: 'Roboto Slab', serif; font-weight: 300; line-height: 1.4em;
  p, span { font-family: 'Roboto Slab', serif; font-weight: 300; line-height: 1.7em; }

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  }

  .button {
    font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  }
}

.body-container {
  background: white;
  padding-top: 40px;
}



.top-bar-container {
  display: table-row !important;
  .top-bar {
    .top-bar-section {
      ul {
        li {
          a { font-weight: 100;}
        }
      }
    }
    .title-area {
      .name {
        h1 {
          a { font-weight: 300; }
        }
      }
    }
  }
}

.center {
  text-align: center;
}

.dark-grey {
  background: #333333;
}

.light-grey {
  background: #F5F5F5
}

.blue {
  background: #019CDE;
  color: white;
  * { color: white; }
}

.dark-bg {
  color: white;
  * { color: white; }
}

.table { display: table; }
.table-row {
  display: table-row;
  > * {
    display: table-cell;
  }
}

.middle-align {
  vertical-align: middle;
}

a.button {
  background-color: #019CDE;
  &.wide { padding-left: 7em; padding-right: 7em;}
}

.centered {
  text-align: center;
}

.row-header {
  > * { margin-bottom: 1em; }
}


// BLOG STUFF

.post {
  margin-bottom: 4em;
  .item-thumb {
    display: block;
    margin-bottom: 18px;
  }

  .item-header {
    h2 {
      font-weight: 300;
      a { color: #333333 }
    }
  }
  .loop-post-meta {
    margin-bottom: 12px;
    ul { 
      margin-left: 0;
      li {
        float: left;
        list-style: none;
        &.date {
          color: #999999;
        }
        &.comments {
          &:before {
            content: "\007C";
            display: block;
            float: left;
            margin: 0 12px;
          }
        }
      }
    }
  }
  .excerpt-text {
    margin-bottom: 20px;
    p { color: #666666; }
  }

  .blog-button {
    display: inline-block;
    border: #999 2px solid;
    padding: 10px;
    border-radius: 5px;
    color: #999;
    font-weight: 300;
  }

}